doctype html
//
  Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
  Version: 4.1.0
  Author: KeenThemes
  Website: http://www.keenthemes.com/
  Contact: support@keenthemes.com
  Follow: www.twitter.com/keenthemes
  Like: www.facebook.com/keenthemes
  Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
  License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
//if IE 8
  html.ie8.no-js(lang='en')  
//if IE 9
  html.ie9.no-js(lang='en')  
// [if !IE] <!
html(lang='en')
  // <![endif]
  // BEGIN HEAD
  head
    meta(charset='utf-8')
    title Smarketeer | Funnel Visualization
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(content='', name='description')
    meta(content='', name='author')
    // BEGIN GLOBAL MANDATORY STYLES
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
    link(href='/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/uniform/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
    // END GLOBAL MANDATORY STYLES
    // BEGIN PAGE LEVEL STYLES
    link(rel='stylesheet', type='text/css', href='/global/plugins/select2/select2.css')
    link(rel='stylesheet', type='text/css', href='/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css')
    link(rel='stylesheet', type='text/css', href='/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css')
    link(rel='stylesheet', type='text/css', href='/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')
    // END PAGE LEVEL STYLES
    // BEGIN THEME STYLES
    link#style_components(href='/global/css/components.css', rel='stylesheet', type='text/css')
    link(href='/global/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='/admin/layout2/css/layout.css', rel='stylesheet', type='text/css')
    link#style_color(href='/admin/layout2/css/themes/grey.css', rel='stylesheet', type='text/css')
    link(href='/admin/layout2/css/custom.css', rel='stylesheet', type='text/css')

    // END THEME STYLES
    link(rel='shortcut icon', href='favicon.ico')
  // END HEAD
  // BEGIN BODY
  // DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices
  // DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default
  // DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle
  // DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle
  // DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle
  // DOC: Apply "page-sidebar-fixed" class to have fixed sidebar
  // DOC: Apply "page-footer-fixed" class to the body element to have fixed footer
  // DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side
  // DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu
  body.page-boxed.page-header-fixed.page-container-bg-solid.page-sidebar-closed-hide-logo
    .page-header.navbar.navbar-fixed-top
      include ../../shared/pageTop
    .clearfix
    // BEGIN CONTAINER
    .container
      .page-container
        include ../../shared/leftBar
        // BEGIN CONTENT
        .page-content-wrapper
          .page-content
            // BEGIN STYLE CUSTOMIZER
            .theme-panel.TrackingCode
              .toggler.tooltips(data-toggle='modal', href='#basic', data-container='body', data-placement='left', data-html='true', data-original-title='Click to see Tracking Pixel Code')
                i.icon-settings 
            // CODE MODAL
            // BEGIN PAGE HEADER
            h3.page-title
              | Ventas 
              //small advanced datatables
            .page-bar
              //ul.page-breadcrumb
                li
                  i.fa.fa-home
                  a(href='index') Home
                  i.fa.fa-angle-right
                li
                  a(href='#') Data Tables
                  i.fa.fa-angle-right
                li
                  a(href='#') Advanced Datatables
              .page-toolbar
                .btn-group.pull-right
                  button.btn.btn-fit-height.grey-salt.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-delay='1000', data-close-others='true')
                    | Exportar 
                    i.fa.fa-angle-down
                  ul.dropdown-menu.pull-right(role='menu')
                    li#toXML
                      a(href='#') Exportar Excel
                    li#toCSV
                      a(href='#') Exportar CSV
                    //li
                      a(href='#') Export to PDF
              .page-toolbar
                #dashboard-report-range.tooltips.btn.btn-fit-height.btn-sm.green-haze.btn-dashboard-daterange(data-container='body', data-placement='left', data-original-title='Change dashboard date range')
                  i.icon-calendar
                  i.fa.fa-angle-down
                  //
                    uncomment this to display selected daterange in the button
                    &nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp;
                    <i class="fa fa-angle-down"></i>
            // END PAGE HEADER
            // BEGIN PAGE CONTENT
            .row
              .col-md-12
                // BEGIN EXAMPLE TABLE PORTLET
                .portlet.box.blue
                  .portlet-title
                    .caption
                      i.fa.fa-globe
                      | Sales
                    .actions
                      .btn-group
                        a.btn.default(href='javascript:;', data-toggle='dropdown')
                          | Columns 
                          i.fa.fa-angle-down
                        #sample_4_column_toggler.dropdown-menu.hold-on-click.dropdown-checkboxes.pull-right
                          label
                            input(type='checkbox', checked='', data-column='0')
                            | E-mail
                          label
                            input(type='checkbox', checked='', data-column='1')
                            | Campaña
                          label
                            input(type='checkbox', checked='', data-column='2')
                            | Fuente
                          label
                            input(type='checkbox', checked='', data-column='3')
                            | Medio
                          label
                            input(type='checkbox', checked='', data-column='4')
                            | Contenido
                          label
                            input(type='checkbox', checked='', data-column='5')
                            | ReferidoURL
                          label
                            input(type='checkbox', checked='', data-column='6')
                            | Landing Page 
                          label
                            input(type='checkbox', checked='', data-column='8')
                            | Total Vendido
                  .portlet-body
                    table#sample_4.table.table-striped.table-bordered.table-hover
                      thead
                        tr
                          th.hidden-xs
                            | E-mail
                          th.hidden-xs
                            | Campaña
                          th.hidden-xs
                            | Fuente
                          th.hidden-xs
                            | Medio
                          th.hidden-xs
                            | Contenido
                          th.hidden-xs
                            | Referido
                          th.hidden-xs
                            | Landing Page URL
                          th.hidden-xs
                            | Total Vendido
                      tbody#tsales
                // END EXAMPLE TABLE PORTLET
            // END PAGE CONTENT
        // END CONTENT
        // BEGIN QUICK SIDEBAR
        // Cooming Soon...
        // END QUICK SIDEBAR
      // END CONTAINER
    // BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time)
    // BEGIN CORE PLUGINS
    //if lt IE 9
      script(src='/global/plugins/respond.min.js')
      script(src='/global/plugins/excanvas.min.js')
    script(src='/global/plugins/jquery-ui/jquery-ui.min.js', type='text/javascript')
    script(src='/global/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
    script(src='/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js', type='text/javascript')
    script(src='/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
    script(src='/global/plugins/jquery.blockui.min.js', type='text/javascript')
    script(src='/global/plugins/jquery.cokie.min.js', type='text/javascript')
    script(src='/global/plugins/uniform/jquery.uniform.min.js', type='text/javascript')
    script(src='/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
    //script(src='/global/plugins/floathead/float.js', type='text/javascript')
    // END CORE PLUGINS
    // BEGIN PAGE LEVEL PLUGINS 
    // END PAGE LEVEL PLUGINS
    // BEGIN PAGE LEVEL SCRIPTS 
    script(src='/global/scripts/metronic.js', type='text/javascript')
    script(src='/admin/layout2/scripts/layout.js', type='text/javascript')
    script(src='/admin/layout2/scripts/demo.js', type='text/javascript')
    script(src="/global/plugins/export/jquery.tabletoCSV.js", type='text/javascript')
    script.
      $( document ).ready(function(){
      //Export data
          $("#toXML").click(function(){
          $.ajax({
            url:"/sales/Export",
            data: {"idSite":idSite}, 
            method: "POST",
            success: function(data){
            window.open('data:application/vnd.ms-excel,' +"<table>"+data+"</table>");
            }
          })
        });

        $("#toCSV").click(function(){
          $.ajax({
            url:"/sales/Export",
            data: {"idSite":idSite}, 
            method: "POST",
            success: function(data){  
            var table = "<table>"+
            data+
            "</table>";
             $(table).tableToCSV();
            }
          })
        });



            var EnableScroll=true;
            var page=0;
            var loading= false; 
            GetMoreSales();
            //Detecting infintie scroll
            $('.portlet-body').bind('scroll', function(){
               if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight/4){
                   $('#loading').show();
                    if( EnableScroll && !loading){
                      loading=true;
                      GetMoreSales(); 
                    }
                }
            });
            //Inifnite scroll2
            function GetMoreSales(){
              $.ajax({
                        url: '/home/funnel/GetSales', 
                        method: "POST",
                        data: { "page" : page,
                                "idSite": #{idSite} },
                        success: function(data) {
                        console.log(data);
                          page++;   
                          $('#tsales').append(data);  
                          loading=false;
                          if(!data)EnableScroll= false;
                        },
                         error: function(XMLHttpRequest, textStatus, errorThrown) {
                             console.log("error");
                          }
                      }); 
              }

      });
    style.
      .portlet-body{ 
        overflow-y: scroll;
        height: 400px;  
      }
  // END BODY