 
// BEGIN SIDEBAR
.page-sidebar-wrapper
          // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
          // DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
          .page-sidebar.navbar-collapse.collapse
            // BEGIN SIDEBAR MENU
            // DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
            // DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
            // DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
            // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
            // DOC: Set data-keep-expand="true" to keep the submenues expanded
            // DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
            ul.page-sidebar-menu.page-sidebar-menu-hover-submenu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
              li.start.active
                a(href='/home/?idSite='+"#{idSite}")
                  i.icon-home
                  span.title Dashboard
                  span.selected
              li
                a(href="/funnel/visitors/?idSite=#{idSite}")
                  i.icon-basket
                  span.title Funnel
                  span.arrow
                ul.sub-menu
                  li
                    a(href="/funnel/visitors/?idSite=#{idSite}")
                      i.icon-home
                      |                 Visitors
                  li
                    a(href="/funnel/leads/?idSite=#{idSite}")
                      i.icon-basket
                      |                 Leads
                  li
                    a(href="/funnel/sales/?idSite=#{idSite}")
                      i.icon-tag
                      |                 Sales
              li
                a(href="/campaigns/seeall/?idSite=#{idSite}")
                  i.icon-rocket
                  span.title Campañas
                  span.arrow
                ul.sub-menu
                  li
                    a(href="/campaigns/seeall/?idSite=#{idSite}")
                      i.icon-home
                      |                 Ver campañas
                  li
                    a(href="/campaigns/new/?idSite=#{idSite}")
                      i.icon-basket
                      |                 Crear campaña
              li
                a(href="/allforms/?idSite=#{idSite}")
                  i.icon-puzzle
                  span.title formularios
                  span.arrow
                ul.sub-menu
                  li
                    a(href="/allforms/?idSite=#{idSite}")
                      i.icon-home
                      |                 Ver todos
                  li
                    a(href='#' id="CrearForm")
                      i.icon-basket
                      |                 Crear formulario
              li
                a(href='/home/reporting/?idSite=#{idSite}')
                  i.icon-bar-chart
                  span.title Reporting
                  span.arrow
              li
                a(href='/home/costs/?idSite=#{idSite}')
                  i.icon-wallet
                  span.title Advertising Costs
                  span.arrow
            // END SIDEBAR MENU
        // END SIDEBAR
script.
  var idSite = "#{idSite}"
script(src='/global/plugins/jquery.min.js', type='text/javascript')
script(src='/global/sidebar.js', type='text/javascript')
script(src='/global/plugins/bootbox/bootbox.min.js', type='text/javascript')