doctype html
//
  Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
  Version: 4.1.0
  Author: KeenThemes
  Website: http://www.keenthemes.com/
  Contact: support@keenthemes.com
  Follow: www.twitter.com/keenthemes
  Like: www.facebook.com/keenthemes
  Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
  License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
//if IE 8
  html.ie8.no-js(lang='en')  
//if IE 9
  html.ie9.no-js(lang='en')  
// [if !IE] <!
html(lang='en')
  // <![endif]
  // BEGIN HEAD
  head
    meta(charset='utf-8')
    title Smarketeer User Account
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(content='', name='description')
    meta(content='', name='author')
    // BEGIN GLOBAL MANDATORY STYLES
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
    link(href='/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/uniform/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
    // END GLOBAL MANDATORY STYLES
    // BEGIN PAGE LEVEL STYLES
    link(href='/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css', rel='stylesheet', type='text/css')
    link(href='/admin/pages/css/profile.css', rel='stylesheet', type='text/css')
    link(href='/admin/pages/css/tasks.css', rel='stylesheet', type='text/css')
    // END PAGE LEVEL STYLES
    // BEGIN THEME STYLES
    link#style_components(href='/global/css/components.css', rel='stylesheet', type='text/css')
    link(href='/global/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='/admin/layout2/css/layout.css', rel='stylesheet', type='text/css')
    link#style_color(href='/admin/layout2/css/themes/grey.css', rel='stylesheet', type='text/css')
    link(href='/admin/layout2/css/custom.css', rel='stylesheet', type='text/css')
    // END THEME STYLES
    link(rel='shortcut icon', href='favicon.ico')
  // END HEAD
  // BEGIN BODY
  // DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices
  // DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default
  // DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle
  // DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle
  // DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle
  // DOC: Apply "page-sidebar-fixed" class to have fixed sidebar
  // DOC: Apply "page-footer-fixed" class to the body element to have fixed footer
  // DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side
  // DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu
  body.page-boxed.page-header-fixed.page-sidebar-closed-hide-logo.page-container-bg-solid
    // BEGIN HEADER
    .page-header.navbar.navbar-fixed-top
      include ../shared/pageTop
    .clearfix
    // BEGIN CONTAINER
    .container
      .page-container
        include ../shared/leftBar
        // BEGIN CONTENT
        .page-content-wrapper
          .page-content
            
            // CODE MODAL
            #basic.modal.fade(tabindex='-1', role='basic', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true')
                    h4.modal-title Install Smarketeer on your website
                  .modal-body
                    | Copy & paste the following code into the head of your HTML
                    form(action='#')
                      textarea(rows='4', cols='50')
                        script(src='///load.smarketeer.io/', data-smarketeer-site-id='a97a7s97d977v9f705ec87vb', async='async')
                  .modal-footer
                    button.btn.default(type='button', data-dismiss='modal') Close
                    button.btn.blue(type='button') Verify Code
                // /.modal-content
              // /.modal-dialog
            // CODE MODAL
            // BEGIN PAGE HEADER
            h3.page-title
              | Configuracion
            // END PAGE HEADER
            // BEGIN PAGE CONTENT
            .row
              .col-md-12
                // BEGIN PROFILE SIDEBAR
                .profile-sidebar(style='width:250px;')
                  // PORTLET MAIN
                  .portlet.light.profile-sidebar-portlet
                    // SIDEBAR USERPIC
                    .profile-userpic
                      if user.profile.picture
                        img.img-responsive(src='#{user.profile.picture}')
                      else
                        img.img-responsive(src='#{user.gravatar(60)}') 
                    // END SIDEBAR USERPIC
                    // SIDEBAR USER TITLE
                    .profile-usertitle
                      .profile-usertitle-name
                        | #{user.profile.name || user.email || user.id || ""}&nbsp;
                      .profile-usertitle-job
                        | #{user.company}
                    // END SIDEBAR USER TITLE
                    // SIDEBAR BUTTONS
                    //.profile-userbuttons
                      button.btn.btn-circle.btn-danger.btn-sm(type='button') Upgrade
                    // END SIDEBAR BUTTONS
                    // SIDEBAR MENU
                    .profile-usermenu
                      ul.nav
                        li.active
                          a(href='extra_profile_account')
                            i.icon-settings
                            | Cuenta
                        //li
                          a(href='extra_profile_help')
                            i.icon-info
                            | 											Help
                    // END MENU
                  // END PORTLET MAIN
                // END BEGIN PROFILE SIDEBAR
                // BEGIN PROFILE CONTENT
                .profile-content
                  .row
                    .col-md-12
                      .portlet.light
                        .portlet-title.tabbable-line
                          .caption.caption-md
                            i.icon-globe.theme-font.hide
                            span.caption-subject.font-blue-madison.bold.uppercase Perfil
                          ul.nav.nav-tabs
                            li.active
                              a(href='#personalInfo', data-toggle='tab') Información Personal
                            //li
                              a(href='#avatar', data-toggle='tab') Cambiar avatar
                            li
                              a(href='#acces', data-toggle='tab') Accesos
                        .portlet-body
                          .tab-content
                            // PERSONAL INFO TAB
                            #personalInfo.tab-pane.active
                              form(role='form', action='#')
                                .form-group
                                  label.control-label Email
                                  input.form-control(type='text',placeholder="Email", value='#{user.email}')
                                .form-group
                                  label.control-label Name
                                  input.form-control(type='text', placeholder="Nombre", value='#{user.profile.name}')
                                .margiv-top-10 
                                  button.btn.green-haze(type='submit' value="Save Changes") Save Changes
                                  a.btn.default(href='javascript:;')
                                    | Cancel
                            // END PERSONAL INFO TAB
                            // CHANGE AVATAR TAB
                            #avatar.tab-pane
                              form(action='#', role='form')
                                .form-group
                                  .fileinput.fileinput-new(data-provides='fileinput')
                                    .fileinput-new.thumbnail(style='width: 200px; height: 150px;')
                                      if user.profile.picture
                                        img(style="width:100%", src='#{user.profile.picture}')
                                      else
                                        img(style="width:100%", src='#{user.gravatar(60)}') 
                                    .fileinput-preview.fileinput-exists.thumbnail(style='max-width: 200px; max-height: 150px;')
                                    div
                                      span.btn.default.btn-file
                                        span.fileinput-new
                                          | Select image
                                        span.fileinput-exists
                                          | Change
                                        input(type='file', name='...')
                                      a.btn.default.fileinput-exists(href='javascript:;', data-dismiss='fileinput')
                                        | Remove
                                .margin-top-10
                                  a.btn.green-haze(href='javascript:;')
                                    | Subir
                                  a.btn.default(href='javascript:;')
                                    | Cancelar
                            // END CHANGE AVATAR TAB
                            // CHANGE PASSWORD TAB
                            #acces.tab-pane
                              form(action='#')
                                .form-group
                                  label.control-label E-mail
                                  input.form-control(type='email', value='#{user.email}')
                                .form-group
                                  label.control-label Contraseña actual
                                  input.form-control(type='password')
                                .form-group
                                  label.control-label Nueva Contraseña
                                  input.form-control(type='password')
                                .form-group
                                  label.control-label Re-Escriba su contraseña
                                  input.form-control(type='password')
                                .margin-top-10
                                  a.btn.green-haze(href='javascript:;')
                                    | Cambiar contraseña
                                  a.btn.default(href='javascript:;')
                                    | Cancelar
                            // END CHANGE PASSWORD TAB
                            // PRIVACY SETTINGS TAB
                            
                // END PROFILE CONTENT
            // END PAGE CONTENT
        // END CONTENT
        // BEGIN QUICK SIDEBAR
        // Cooming Soon...
        // END QUICK SIDEBAR
      // END CONTAINER
    // BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time)
    // BEGIN CORE PLUGINS
    //if lt IE 9
      script(src='/global/plugins/respond.min.js')
      script(src='/global/plugins/excanvas.min.js')
    script(src='/global/plugins/jquery.min.js', type='text/javascript')
    script(src='/global/plugins/jquery-migrate.min.js', type='text/javascript')
    // IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip
    script(src='/global/plugins/jquery-ui/jquery-ui.min.js', type='text/javascript')
    script(src='/global/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
    script(src='/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js', type='text/javascript')
    script(src='/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
    script(src='/global/plugins/jquery.blockui.min.js', type='text/javascript')
    script(src='/global/plugins/jquery.cokie.min.js', type='text/javascript')
    script(src='/global/plugins/uniform/jquery.uniform.min.js', type='text/javascript')
    script(src='/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
    // END CORE PLUGINS
    // BEGIN PAGE LEVEL PLUGINS
    script(src='/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js', type='text/javascript')
    script(src='/global/plugins/jquery.sparkline.min.js', type='text/javascript')
    // END PAGE LEVEL PLUGINS
    // BEGIN PAGE LEVEL SCRIPTS
    script(src='/global/scripts/metronic.js', type='text/javascript')
    script(src='/admin/layout2/scripts/layout.js', type='text/javascript')
    script(src='/admin/layout2/scripts/demo.js', type='text/javascript')
    script(src='/admin/pages/scripts/profile.js', type='text/javascript')
    // END PAGE LEVEL SCRIPTS
    script.
      jQuery(document).ready(function() {
      // initiate layout and plugins
      Metronic.init(); // init metronic core components
      Layout.init(); // init current layout
      Demo.init(); // init demo features\\
      Profile.init(); // init page demo
      });
    // END JAVASCRIPTS
  // END BODY
