doctype html
//
  Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
  Version: 4.1.0
  Author: KeenThemes
  Website: http://www.keenthemes.com/
  Contact: support@keenthemes.com
  Follow: www.twitter.com/keenthemes
  Like: www.facebook.com/keenthemes
  Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
  License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
//if IE 8
  html.ie8.no-js(lang='en')  
//if IE 9
  html.ie9.no-js(lang='en')  
// [if !IE] <!
html(lang='en')
  // <![endif]
  // BEGIN HEAD
  head
    meta(charset='utf-8')
    title Smarketeer | Form Builder
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(content='', name='description')
    meta(content='', name='author')
    // BEGIN GLOBAL MANDATORY STYLES
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
    link(href='/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/uniform/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
    // END GLOBAL MANDATORY STYLES
    // BEGIN THEME STYLES
    link#style_components(href='/global/css/components.css', rel='stylesheet', type='text/css')
    link(href='/global/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='/admin/layout2/css/layout.css', rel='stylesheet', type='text/css')
    link#style_color(href='/admin/layout2/css/themes/grey.css', rel='stylesheet', type='text/css')
    link(href='/admin/layout2/css/custom.css', rel='stylesheet', type='text/css')
    // END THEME STYLES
    link(rel='shortcut icon', href='../favicon.ico')
  // END HEAD
  // BEGIN BODY
  // DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices
  // DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default
  // DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle
  // DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle
  // DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle
  // DOC: Apply "page-sidebar-fixed" class to have fixed sidebar
  // DOC: Apply "page-footer-fixed" class to the body element to have fixed footer
  // DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side
  // DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu
  body.page-boxed.page-header-fixed.page-container-bg-solid.page-sidebar-closed-hide-logo( ng-app="myapp")
    .page-header.navbar.navbar-fixed-top
      include ../shared/pageTop.jade
    // END HEADER
    .clearfix
    // BEGIN CONTAINER
    .container
      .page-container
        include ../shared/leftBar
        // BEGIN CONTENT
        .page-content-wrapper
          .page-content
            // BEGIN STYLE CUSTOMIZER
            .theme-panel.TrackingCode
              .toggler.tooltips(data-toggle='modal', href='../#basic', data-container='body', data-placement='left', data-html='true', data-original-title='Click to see Tracking Pixel Code')
                i.icon-settings 
            // END STYLE CUSTOMIZER
            // BEGIN PAGE HEADER
            // BEGIN PAGE CONTENT
            .row(ng-controller="GetSource")
              .col-md-6
                // BEGIN SAMPLE FORM PORTLET
                .portlet.light
                  .portlet-title
                    .caption.font-red-sunglo
                      i.icon-settings.font-red-sunglo
                      span#third.caption-subject.bold.uppercase
                        | {{tmp.campaign||"Crea tu campa単a"}}
                  .portlet-body.form
                    form#UrlBuilder(role='form')
                      .form-body
                        .form-group.form-md-line-input
                          input.url.form-control(placeholder='Escriba la url de su pagina web' value="#{url}" ng-model="tmp.url" )
                          label(for='form_control_1') Website URL *
                          span.help-block (e.g. http://www.proto.com/download)
                        .form-group.form-md-line-input
                          input.campaign.form-control(type='text', placeholder='Escriba el nombre de la campa単a' value="#{campaign}" ng-model="tmp.campaign" )
                          label(for='form_control_1') Nombre de la campa単a *
                          span.help-block (e.g. producto, codigo de promocion, slogan).  
                        .form-group.form-md-line-input 
                            select.source.form-control(ng-model="tmp.source" placeholder='Select...', tabindex='-1', aria-hidden='true',style="width:100%!important" name="source")
                              option(value="AdWords" ) AdWords
                              option(value="Bing Ads") Bing Ads
                              option(value="Contenido") Contenido
                              option(value="Blogs") Blogs 
                              option(value="Email/Newsletters") Email/Newsletters
                              option(value="Facebook") Facebook
                              option(value="Instagram") Instagram
                              option(value="LinkedIn") LinkedIn
                              option(value="Pinterest") Pinterest
                              option(value="Twitter") Twitter
                              option(value="Otros Ad Networks") Otros Ad Networks
                            label(for='form_control_1') Fuentes *
                            span.help-block (e.g. referrer: google, citysearch, newsletter4).
                        .form-group.form-md-line-input
                          select.medium.form-control(ng-model="tmp.medium" placeholder='Select...', tabindex='-1', aria-hidden='true',style="width:100%!important" name="medium")
                            option(value="CPC") CPC
                            option(value="Content") Content
                            option(value="Email") Email
                            option(value="Organic") Organic
                          label(for='form_control_1') Medium
                          span.help-block (e.g. marketing medium: cpc, banner, email)
                        .form-group.form-md-line-input
                          input.term.form-control(ng-model="tmp.term" type='text', placeholder='Escriba las palabras claves' value="#{term}")
                          label(for='form_control_1') Palabras claves
                          span.help-block (e.g. identify the paid keywords)
                        .form-group.form-md-line-input
                          input.content.form-control(ng-model="tmp.content" type='text', placeholder='Escriba el contenido de la campa単a' value="#{content}")
                          label(for='form_control_1') Contenido
                          span.help-block (e.g. use to differentiate ads)
                        .form-group.form-md-line-input
                          .input-group
                            input.from.form-control(type='text', name='from',value="#{from}")
                            span.input-group-addon  hasta 
                            input.to.form-control(type='text', name='to',value="#{to}")
                            label(for='form_control_1') Fecha 
                        .form-group.form-md-line-input
                          .input-group.bootstrap-touchspin 
                            span.input-group-addon.bootstrap-touchspin-prefix $
                            input.total.form-control(type='number', name='demo1', style='display: block;',value="#{total}")
                            span.input-group-addon.bootstrap-touchspin-postfix(style='display: none;')
                            label(for='form_control_1') Monto gastado
                            span.help-block Escriba el costo, puedes cambiarlo mas adelante
                        .form-group.form-md-line-input
                          input#WebsiteUrl.form-control(placeholder='Escriba la url de su pagina web' value='{{ final_url }}')
                          label(for='form_control_1') URL
                          span.help-block (Copie este codigo)
                      .form-actions.noborder 
                        button.guardar.btn.green(type='button' id=campaignId ) Guardar 
                        button#limpiar.pull-right.btn.red(type='button') Limpiar 
                      
                // END SAMPLE FORM PORTLET
        // END CONTENT
        // BEGIN QUICK SIDEBAR
        // Cooming Soon...
        // END QUICK SIDEBAR
      // END CONTAINER
    // BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time)
    // BEGIN CORE PLUGINS
    //if lt IE 9
      script(src='/global/plugins/respond.min.js')
      script(src='/global/plugins/excanvas.min.js')
    script(src='/global/plugins/jquery.min.js', type='text/javascript')
    script(src='/global/plugins/bootbox/bootbox.min.js', type='text/javascript')
    script(src='/global/plugins/jquery-migrate.min.js', type='text/javascript')
    // IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip
    script(src='/global/plugins/jquery-ui/jquery-ui.min.js', type='text/javascript')
    script(src='/global/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
    script(src='/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js', type='text/javascript')
    script(src='/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
    script(src='/global/plugins/jquery.blockui.min.js', type='text/javascript')
    script(src='/global/plugins/jquery.cokie.min.js', type='text/javascript')
    script(src='/global/plugins/uniform/jquery.uniform.min.js', type='text/javascript')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js")
    script(src='/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript') 
    script(src="/campaigns/js/urlbuilder.js" type="text/javascript") 
    script(type='text/javascript', src='//cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    script.
      var idSite="#{idSite}" 

       //$('option[value=CPC]', newOption).attr('selected', 'selected');

        var myAppModule = angular.module('myapp', []); 
        myAppModule.controller('GetSource', function($scope) {
          $scope.tmp={
          url:"#{url||empty}",
          campaign:"#{campaign||empty}",
          term:"#{term||empty}",
          content:"#{content||empty}",
          source:"#{source||'Otros Ad Networks'}",
          medium:"#{medium||'CPC'}"
          }

          $scope.final_url = '';
          
          $scope.$watchCollection('[tmp.url,tmp.campaign, tmp.term, tmp.source,tmp.medium, tmp.content]', function(newValues) { 

                var url     = ($scope.tmp.url)  ? $scope.tmp.url+"/?"   : "" ;
      
                var campaign  = ($scope.tmp.campaign)  ? 
                              "utm_campaign="+$scope.tmp.campaign+"&"   : "" ;

                var term      = ($scope.tmp.term)      ? 
                              "utm_term="+$scope.tmp.term+"&"           : "" ;

                var source    = ($scope.tmp.source)    ? 
                              "utm_source="+$scope.tmp.source+"&"       : "" ;

                var medium =($scope.tmp.medium)        ? 
                              "utm_medium="+$scope.tmp.medium+"&"       : "" ;

                var content= ($scope.tmp.content)      ? 
                              "content="+$scope.tmp.content             : "" ;
                  
                $scope.final_url=(url+campaign+term+source+medium+content).replace(/ /g, '-');

            }); 
        });
    // END JAVASCRIPTS
  // END BODY